.stat{
	display: none;
}
.thread-title{
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 5px;
	font-weight: bold;
	color: #555;
}

.thread-info,.stat-number{
	color: #606060;
}

.thread-info a, .thread-title a{
	font-weight: bold;
	color: #707070;
}

.stat-number{
	font-size: 18px;
	/*font-weight: bold;*/
}



.action-bar{
	min-height: 70px;
	padding:20px 40px;
	background-color: #f6f6f6;
}
.action-form-bar{
	padding: 5px 0;
	min-height: 52px;
}

.back{
	color: #fefefe;
	margin-right: 20px;
	font-size: 24px;
}

.vote{
	display: inline-block;
	margin-right: 5px;
	width: 40px;
}

.vote-number{
	margin-top: 5px;
	margin-bottom: 5px;
	color: #606060;
}

.icon-vote{
	font-size: 48px;
	line-height: 1.5em;
}
.comment-post{
	border:1px solid #efefef;
	margin-top: 0;
}

.comment{
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
}

.comment:last-child{
	border-bottom: none;
}
.comment:first-child{
	margin-top: 15px;
}

.thread,.comments,.reply-title,.replies{
	border-bottom: 1px solid #eee !important;
	padding-top:20px !important;
	padding-bottom:20px !important;
	border-top:none;
	border-right:none;
	border-left:none;
	margin-top: 0;
}
.ms-reply textarea.comment-textarea{
	padding: 12px 80px 12px 16px;
}
.comment-btn{

}

.img-circle{
	border-radius: 100%;
}

.img-sm{
	width: 30px;
    height: 30px;
}

.img-lg{
	width:60px;
	height: 60px;
}

.show-more{
	line-height: 2em;
	cursor: pointer;
	/*padding: 10px 0;*/
	/*text-decoration: underline;*/
}

#createAnswer{
	display: none;
}

.reply-title h4{
	line-height: 2em;
}

.thread-info-container{
	text-align: left;
}

.search-title{
	padding-top:10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	border-bottom: 1px solid #eee !important;
	background-color: #fdfdfd;
	min-height: 60px;

}
.search-title h4{
	color: #707070;
}

.alumni-name{
	margin-top: 0;
	margin-bottom: 5px;
}

.action-button-group{
	margin-top: 20px;
}

.action-btn{
	width: 48%;
}

/*.action-btn:first-child{
	margin-right: 1%;
}*/

.alumni-detail{
	margin-top: 5px;
	margin-bottom: 0;
}

.alumni-education{
	color: #888;
	font-weight: bold;
}


.alumni-skill{
	color: #707070;
}

.search-input{
	display: inline-block;
	float: left;
	width: auto;
	background-color: transparent;
	width: 85%;
}

.pm-search.pull-right{
	float: none !important;
}
.profile-section{
	border-bottom: 1px solid #eee
}
.profile-img-container{
	width:16%;
}
.profile-img{
	width: 100%;
}

.profile-info-container{
	width:64%;
	padding-left: 15px;
}

.profile-info-name{
	margin-top:0;
	margin-bottom:10px;
	font-weight: bold;
	color:#555;
}

.profile-info-job{
	color:#606060;
}

.profile-info-location{
	color:#555;
	font-weight: bold;
}

.profile-info-before-label{
	text-transform: uppercase;
	margin-top:20px;
	margin-bottom:5px
}

.profile-info-before{
	margin-top:2px;
	color:#666;
	font-weight: bold;
}

.section-title{
	margin-bottom: 20px;
	font-size:18px;
	/*font-weight: bold;*/
	/*text-transform: uppercase;*/
	color: #444;
}

.profile-item{
	color:#333;
}

.profile-interval{
	color:#555;
}

.profile-item-sector{
	text-transform: uppercase;
	margin-top:10px;
	margin-bottom:15px;
	color:#606060;
}
.profile-item-section-container{
	padding-left: 40px;
}
.profile-item-section-container:last-child{
	border-bottom: 1px solid #eee;
}
.profile-item-section-container .item-detail{
	border-bottom: 1px solid #eee;
}
.profile-item-section-container:last-child .item-detail{
	border-bottom: none;
}

.profile-item-section{
	padding-left: 30px;
	padding-right: 50px;
	border-left: 3px dashed #ddd;
	position: relative;
}

.profile-item-section-container:first-child .profile-item-section{
	border-left: 3px dashed #3498db;
}
.profile-item-section-container:last-child .profile-item-section{
	border-left: 3px dashed transparent;
}
.circle{
	width:20px;
	height: 20px;
	border: 2px solid #ddd;
	background-color: #fff;
	border-radius: 100%;
	position: absolute;
	top:0;
	left: 0;
	margin-left:-11px;
}
.profile-item-section-container:first-child .circle, 
.profile-item-section-container:nth-child(2) .circle{
	border: 2px solid #3498db;
	background-color: #fff;
}

.profile-interest-section{
	padding-right: 50px;
}
.profile-language-section{
	padding-right: 50px;
}

.profile-language-section>.col-md-6{
	padding-right: 0;
}

.item-action-btn{
	display: none;
}

.btn-info.item-action-btn{
	background-color: #afafaf;
	/*display: none;*/
}

#profileCompleteEditBtn{
	display: none;
}

.edit-mode{
	margin-top: 30px !important;
	margin-bottom: 30px !important;
	/*display: none;*/
}

.edit-mode .action-bar{
	background-color: #fafafa;
}
.edit-mode .form-control{
	background: transparent;
}
.edit-mode .bootstrap-select > .btn-default:before{
	background-color: #fafafa;
}

.edit-mode label{
	font-weight: bold;
}

@media ( min-width : 768px ){
	.stat{
		display: inline-block;
		margin-right: 20px;
		min-width: 50px;
		padding-top:5px; 
	}

	.form-label{
		font-size: 16px;
		min-width: 120px;
	}

	.vote{
		display: inline-block;
		margin-right: 20px;
		width: 50px;
	}

	.thread-info-container{
		text-align: right;
	}

	.action-button-group{
		margin-top: 0;
	}

	.action-btn{
		width: auto;
	}

	.pm-search.pull-right{
		float: right !important;
	}

	.search-input{
		width: auto;
	}

	.search-title>div{
		min-height: 40px; 
	}

	.img-lg{
		width:120px;
		height: 120px;
	}

	.profile-info-container{
		padding-left: 30px;
	}
}