.stat{
	display: none;
}
.thread-title{
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 5px;
	font-weight: bold;
	color: #555;
}

.thread-info,.stat-number{
	color: #606060;
}

.thread-info a{
	font-weight: bold;
	color: #888;
}

.action-bar{
	min-height: 70px;
	padding:20px 40px;
	background-color: #f6f6f6;
}
.action-form-bar{
	padding: 5px 0;
	min-height: 52px;
}

.back{
	color: #fefefe;
	margin-right: 20px;
	font-size: 24px;
}

.vote{
	display: inline-block;
	margin-right: 5px;
	width: 40px;
}

.vote-number{
	margin-top: 5px;
	margin-bottom: 5px;
	color: #606060;
}

.icon-vote{
	font-size: 48px;
	line-height: 1.5em;
}
.comment-post{
	border:1px solid #efefef;
	margin-top: 0;
}

.comment{
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
}

.comment:last-child{
	border-bottom: none;
}
.comment:first-child{
	margin-top: 15px;
}

.thread,.comments,.reply-title,.replies{
	border-bottom: 1px solid #eee !important;
	padding-top:20px !important;
	padding-bottom:20px !important;
	border-top:none;
	border-right:none;
	border-left:none;
	margin-top: 0;
}
.ms-reply textarea.comment-textarea{
	padding: 12px 80px 12px 16px;
}
.comment-btn{

}

.img-circle{
	border-radius: 100%;
}

.img-sm{
	width: 30px;
    height: 30px;
}

.show-more{
	line-height: 2em;
	cursor: pointer;
	/*padding: 10px 0;*/
	/*text-decoration: underline;*/
}

#createAnswer{
	display: none;
}

.reply-title h4{
	line-height: 2em;
}

.thread-info-container{
	text-align: left;
}
@media ( min-width : 768px ){
	.stat{
		display: inline-block;
		margin-right: 20px;
		width: 50px;
	}

	.form-label{
		font-size: 16px;
		min-width: 120px;
	}

	.vote{
		display: inline-block;
		margin-right: 20px;
		width: 50px;
	}

	.thread-info-container{
		text-align: right;
	}
}